<div class="content-wrapper">
    <h1 class="mb-4 text-center">PRODUCT LIST</h1>
    <div class="row">
        <div class="col-12">
            <div class="table-responsive product-table">
                <table class="display expandable-table" style="width:100%; text-transform: uppercase;">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Gender</th>
                            <th>Category</th>
                            <th>Brand</th>
                            <th>Price</th>
                            <th>Sale</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each product}}
                        {{#if this.gender}}
                        <tr class="danger">
                            <td>{{this.name}}</td>
                            <td>Women</td>
                            <td>{{this.category}}</td>
                            <td>{{this.brand}}</td>
                            <td>{{this.price}}</td>
                            <td>{{this.sale}}</td>
                            <td><a href="/product/{{this._id}}/edit">Edit</a>
                            </td>
                            <td><a href="" data-toggle="modal" data-target="#delete-product-modal" data-id={{this._id}}
                                    style="color: red;">Delete</a></td>
                        </tr>
                        {{else}}
                        <tr class="info">
                            <td>{{this.name}}</td>
                            <td>Men</td>
                            <td>{{this.category}}</td>
                            <td>{{this.brand}}</td>
                            <td>{{this.price}}</td>
                            <td>{{this.sale}}</td>
                            <td><a href="/product/{{this._id}}/edit">Edit</a>
                            </td>
                            <td><a href="" data-toggle="modal" data-target="#delete-product-modal" data-id={{this._id}}
                                    style="color: red;">Delete</a></td>
                        </tr>
                        {{/if}}
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>

        <div id="product-list-current-page" hidden name={{currentPage}}></div>
        {{!-- pagination --}}
        <div class="mt-5 col-12 d-flex justify-content-center product-list-pagination">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    {{#each pages}}
                    <li class="page-item" name={{this}}><a class="page-link" href="?page={{this}}">{{this}}</a></li>
                    {{/each}}

                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="delete-product-modal" tabindex="-1" aria-labelledby="delete-comfirm-modal"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="delete-comfirm-modal">Comfirm</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">Do you really want to delete this product?</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button id="cofirm-delete-product" type="button" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- hidden form action delete --}}
<form name="hidden-delete-form" method="POST"></form>

<script>
    const currentPage = document.getElementById('product-list-current-page');

    document.addEventListener('DOMContentLoaded', () => {
        let id = null;
        const delButton = document.getElementById('cofirm-delete-product');
        const delForm = document.forms['hidden-delete-form'];

        $('#delete-product-modal').on('show.bs.modal', function (event) {
            id = $(event.relatedTarget).data('id');

        })

        delButton.onclick = () => {
            delForm.action = '/product/' + id + `?_method=DELETE&page=${currentPage.getAttribute('name')}`;
            delForm.submit();
        }
    })

    //active current page

    const pages = Array.from(document.querySelectorAll('.product-list-pagination .pagination .page-item'));
    const forward = pages.pop();
    const backward = pages.shift();

    for (let i = 0; i < pages.length; i++) {
        if (pages[i].textContent == currentPage.getAttribute('name')) pages[i].classList.add('active');
    }

    forward.onclick = (e) => {
        e.preventDefault();
        if (currentPage.getAttribute('name') == pages[pages.length - 1].textContent) return;
        else pages[parseInt(currentPage.getAttribute('name'))].childNodes[0].click();
    }

    backward.onclick = (e) => {
        e.preventDefault();
        if (currentPage.getAttribute('name') == pages[0].textContent) return;
        else pages[parseInt(currentPage.getAttribute('name')) - 2].childNodes[0].click();
    }

</script>