<div class="content-wrapper">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive product-table">
                <table class="display expandable-table" style="width:100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Gender</th>
                            <th>Brand</th>
                            <th>Price</th>
                            <th>Sale</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each product}}
                        {{#if this.gender}}
                        <tr class="danger" onclick="document.location.href = '/'">
                            <td>{{this._id}}</td>
                            <td>{{this.name}}</td>
                            <td>Women</td>
                            <td>{{this.brand}}</td>
                            <td>{{this.price}}</td>
                            <td>{{this.sale}}</td>
                        </tr>
                        {{else}}
                        <tr class="info">
                            <td>{{this._id}}</td>
                            <td>{{this.name}}</td>
                            <td>Men</td>
                            <td>{{this.brand}}</td>
                            <td>{{this.price}}</td>
                            <td>{{this.sale}}</td>
                        </tr>
                        {{/if}}
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{{!-- model option --}}
<div class="product-modal">
    <div class="modal-form">
        <div class="modal-title">CHOOSE ONE OPTION</div>
        <hr>
        <div class="madal-option-button">
            <button type="button" class="btn btn-danger">Delete</button>
            <button type="button" class="btn btn-warning">Update</button>
            <button type="button" class="btn btn-info">View</button>
        </div>
    </div>
</div>