<div class="content-wrapper">
    <div class="Chart">
        <canvas id="chartDay" Width="30" Height="10"></canvas>
        <script>
            const ctxday = document.getElementById('chartDay').getContext('2d');
            const xlabeldays = {{{days}}};
            const ylabeldays = {{{countday}}};
            const myChartDay = new Chart(ctxday, {
                type: 'line',
                data: {
                    labels: xlabeldays,
                datasets: [{
                    label: 'Selling days',
                    data: ylabeldays,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
            });
        </script>

        <canvas id="chartMonth" Width="30" Height="10"></canvas>
        <script>
            const ctxmonth = document.getElementById('chartMonth').getContext('2d');
            const xlabelmonths = {{{months}}};
            const ylabelmonths= {{{countmonth}}};
            const myChartmonth = new Chart(ctxmonth, {
                type: 'bar',
                data: {
                    labels: xlabelmonths,
                    datasets: [{
                        label: 'Selling months',
                        data: ylabelmonths,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        </script>

        <canvas id="chartYear" Width="30" Height="10"></canvas>
        <script>
            const ctxyear = document.getElementById('chartYear').getContext('2d');
            const xlabelyears = {{{years}}};
            const ylabelyears= {{{countyear}}};
            const myChartYear= new Chart(ctxyear, {
                type: 'bar',
                data: {
                    labels: xlabelyears,
                    datasets: [{
                        label: 'Selling years',
                        data: ylabelyears,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        </script>

    </div>
</div>
