<div class="content-wrapper">
    <h1 class="mb-4 text-center"> CUSTOMER LIST</h1>
    <div class="row">
        <div class="col-12">
            <div class="table-responsive customer-table">
                <table class="display expandable-table" style="width:100%">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Address</th>
                            <th>Number</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each customer }}
                        <tr>
                            <td>{{this.firstName}}</td>
                            <td>{{this.lastName}}</td>
                            <td>{{this.email}}</td>
                            <td>{{this.address}}</td>
                            <td>{{this.number}}</td>
                            {{#if this.status}}
                            <td><a href="#" style="color: red;">BAN</a></td>
                            {{else}}
                            <td><a href="#">UNBAN</a></td>
                        </tr>


                        {{/if}}
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>