<div class="content-wrapper">
    <h1 class="text-center mb-5">ORDER LIST</h1>
    <div class="col-lg-12 grid-margin stretch-card order-list">


        <div class="table-responsive">
            <table class="table">
                <thead class="text-center">
                    <tr>
                        <th>Order ID</th>
                        <th>Email</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                {{#each orders}}
                <tbody class="text-center">
                    <tr>
                        <td>{{this._id}}</td>
                        <td>{{this.email}}</td>
                        <td>{{this.createdAt}}</td>
                        <td>{{this.time}}</td>
                        <td>
                            {{#if (compare this.status 'cancel')}}
                            <label class="badge badge-danger">Canceled</label>
                            {{/if}}
                            {{#if (compare this.status 'pending')}}
                            <label class="badge badge-dark">Pending</label>
                            {{/if}}
                            {{#if (compare this.status 'packing')}}
                            <label class="badge badge-info">Packing</label>
                            {{/if}}
                            {{#if (compare this.status 'arriving')}}
                            <label class="badge badge-primary">Arriving</label>
                            {{/if}}
                            {{#if (compare this.status 'received')}}
                            <label class="badge badge-success">Received</label>
                            {{/if}}
                        </td>
                        <td><a href="/customer/order/{{this._id}}">Detail</a></td>
                    </tr>
                </tbody>
                {{/each}}
            </table>
        </div>

    </div>
</div>