<div class="content-wrapper">
    <h1 class="text-center mb-5">ORDER LIST</h1>
    <div class="col-lg-12 grid-margin stretch-card order-list">
        <div class="table-responsive">
            <table class="table">
                <thead class="text-center">
                    <tr>
                        <th>Order ID</th>
                        <th>Email</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                {{#each orders}}
                <tbody class="text-center">
                    <tr>
                        <td>{{this._id}}</td>
                        <td>{{this.email}}</td>
                        <td>{{this.createdAt}}</td>
                        <td>{{this.time}}</td>
                        <td>
                            {{#if (compare this.status 'cancel')}}
                            <label class="badge badge-danger">Canceled</label>
                            {{/if}}
                            {{#if (compare this.status 'pending')}}
                            <label class="badge badge-dark">Pending</label>
                            {{/if}}
                            {{#if (compare this.status 'packing')}}
                            <label class="badge badge-info">Packing</label>
                            {{/if}}
                            {{#if (compare this.status 'arriving')}}
                            <label class="badge badge-primary">Arriving</label>
                            {{/if}}
                            {{#if (compare this.status 'received')}}
                            <label class="badge badge-success">Received</label>
                            {{/if}}
                        </td>
                        <td><a href="/customer/order/{{this._id}}">Detail</a></td>
                    </tr>
                </tbody>
                {{/each}}
            </table>
        </div>

    </div>

    <div id="list-current-page" hidden name={{currentPage}}></div>
    {{!-- pagination --}}
    <div class="mt-5 col-12 d-flex justify-content-center list-pagination">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                {{#each pages}}
                <li class="page-item" name={{this}}><a class="page-link" href="?page={{this}}">{{this}}</a></li>
                {{/each}}

                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>